body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow:hidden;
}
table {
	position:absolute;
	width: 70%;
	border-collapse: collapse;
	border: none;
	left: 15%;
}

td {
	padding: 0;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}

.overlay-image {
	position: absolute;
	top: 10%;
	left: 15%;
	width: 70%;
	height: 70%;
	opacity: 0; /* 初始时透明度为0，不显示 */
	transition: opacity 0.3s; /* 添加渐变效果 */
}

td:hover .overlay-image,
td.active .overlay-image {
	opacity: 1; /* 鼠标悬停或单击时显示叠加图片 */
}
.select1 {
	z-index: 99;
	position: fixed;
	background-color: #2D2E30;
	color: white;
	top:0px;
	left:0px;
}
.select2 {
	z-index: 99;
	position: fixed;
	background-color: #2D2E30;
	color: white;
	top:0px;
	left:70px;
}
